<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'app/css/login_register.css' %}">
  </head>
  <body>


    <div class="login">
        <div class="error">
          {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endif %}
        </div>      <h1>Login</h1>
        <form method="post" action="{% url 'app:login' %}">
          {% csrf_token %}
          {{ form.username }}
          {{ form.password }}
          <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
        </form>
        <a href="{% url 'app:register' %}" style="color: white;">Register</a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  </body>
</html>
