<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'app/css/login_register.css' %}">
  </head>
  <body>


    <div class="login register">
        <div class="error">
          {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endif %}
        </div>

        <h1>Register</h1>
        <form method="post" action="{% url 'app:register' %}">
          {% csrf_token %}
          {{ form.first_name }}
          {{ form.last_name }}
          {{ form.username }}
          {{ form.password }}
          {{ form.confirm_password }}
          {{ form.email }}
          <button type="submit" class="btn btn-primary btn-block btn-large">Register</button>
        </form>
        <a href="{% url 'app:login'%}" style="color: white;">Login</a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  </body>
</html>
