/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  min-height: 60px;
  text-align: center;
  background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}

#myNavbar{
  padding: 0;
}

/* ask questoin pop up */

textarea{
  width: 100%;
  resize: none;
  border: 1px solid lightgray !important;
  border-radius: 3px !important;
  padding-top: 5px;
  padding-left: 10px;
}

.modal-header .close{
  color: white !important;
  opacity: .8;
}

.modal-header{
  background-color: #2d367f !important;
  color: white !important;
}


.panel-heading{
  background-color: #2d367f !important;
  color: white !important;
}

ul.navbar-nav li a{
  color: white !important;
}

.content{
  margin-top: 20px;
}

.well{
  background-color: #FCFAFA;
  box-shadow: 10px 10px 5px #CFCFCF;
}

/* Set gray background color and 100% height */
.sidenav {
  height: 100%;
}

.sidenav h2{
  margin-bottom: 20px;
}

.blockquote{
  border-left: 5px solid #2d367f;
}


a{
  text-decoration: none !important;
  color: black;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}


.btn-custom{
  color: white;
  background-color: #46b8da;
}

.btn-custom:hover{
  color: white;
}

a{
  color: white !important;
}
a:hover{
  color: white !important;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
